*{
margin: 0px;
padding:0px;
box-sizing: border-box;
}

html, body{
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x:hidden;
}


body{
background-color: black;
}


.heading-para{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 min-height:300px;
 margin-left:100px;
}

#navigation{
padding-bottom:1000px;
background-color: aqua;
width:200px;
z-index:5;
}

.offcanvas{
    max-width:200px;
    height:700px;
    background-color: aqua;
}


.box {
 width:350px;
 height:350px;
 border-radius:50%;
 margin-top:30px;
 background-color:gold;
 position: relative;
 overflow: hidden;
}

.box::before{
    content:'';
    position: absolute;
    inset:-10px 140px;
    background-image:linear-gradient(green, red);
    transition:0.5s;
    animation: animate 4s linear infinite;
}

.box:hover::before{
    inset:-20px 0px;
}

@keyframes animate {

0%{
    transform: rotate(0deg);
}

100%{
    transform: rotate(360deg);
}

}
.box::after{
    content:'';
    position: absolute;
    inset:6px;
    background-color:black;
    border-radius:50%;
    z-index: 1;
}

.profile-img{
    position: absolute;
    border:6px solid purple;
    inset:30px;
    border-radius:50%;
    z-index:3;
    overflow: hidden;
}

.profile-img img {
    position: absolute;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    object-fit: cover;
    transition:0.5s;
    pointer-events:none;
}


.About{
margin-top:100px;
margin-left:60px;
}
.About p {
 width:1000px;
}

#downloadresume{
    width:300px;
    padding-left:10px;
}

#Portfolio {
    margin-top:100px;
    margin-left:10px;
}

.card-inner{
    width:16rem;
    margin-top:50px;
    }

    .card-inner img {
width:300px;
height:300px;
    }

    #Explore-link{
        color:blue;
        width:300px;
        border-radius:0px 0px 10px 10px;
    }

    #Explore-row{
        column-gap:60px;
        row-gap:20px;
    }

    .card-inner {
        transition:all 0.3s;
    }

    .card-inner:hover{
        transform: scale(1.15);
    }

    .contact-address i {
        color:red;
        margin:20px;
        margin-top:30px;
    }

    .contact-address {
      color:red;
    }

#Contact {
    margin-top:100px;
    margin-left:80px;
}
.contact-heading p{
 color:blue;
 margin-left:40px;
}

#About-score {
    background-color:black;
}

.contact-form input{
 margin:20px 20px;
}

#inputbutton input{
width:200px;
background-color: green;
color:white;
}

#About-inner{
background-color:black;
}

#Message{
 margin-right:10px;
}


/*

Media Query

*/

@media screen and (min-width:320px) and (max-width:375px) {

    #navigation{
        padding-bottom:5px;
        width:100%;
        }

    .heading-para{
        margin-top:100px;
        margin-left:-5px;
       }
       
       .heading-para img {
        width:200px;
        height:200px;
        margin-top:50px;
        border-radius:50%;
       }
       
       .offcanvas{
        min-width:320px;
        height:700px;
        background-color: aqua;
    }

       .box {
        width:250px;
        height:250px;
        border-radius:50%;
        margin-top:50px;
        background-color:gold;
        position: relative;
        overflow: hidden;
       }
       
       .box::before{
           content:'';
           position: absolute;
           inset:-10px 140px;
           background-image:linear-gradient(green, red);
           transition:0.5s;
           animation: animate 4s linear infinite;
       }
       
       .box:hover::before{
           inset:-20px 0px;
       }
       
       @keyframes animate {
       
       0%{
           transform: rotate(0deg);
       }
       
       100%{
           transform: rotate(360deg);
       }
       
       }
       .box::after{
           content:'';
           position: absolute;
           inset:6px;
           background-color:black;
           border-radius:50%;

       }
       
       .profile-img{
           position: absolute;
           border:6px solid purple;
           inset:30px;
           border-radius:50%;
           overflow: hidden;
       }
       
       .profile-img img {
           position: absolute;
           top:-50px;
           right:0px;
           width:100%;
           height:100%;
           object-fit: cover;
           transition:0.5s;
           pointer-events:none;
       }
       
    
       .About{
       margin-top:100px;
       margin-left:-20px;
       }
       .About p {
        width:250px;
        text-align: center;
       }

        #downloadresume{
            width:300px;
            padding-left:10px;
            margin-left:20px;
        }
    
       
       .card-inner{
           width:13rem;
           margin-top:50px;
           }
       
           .card-inner img {
       width:200px;
       height:200px;
           }
       
           #Explore-row{
               column-gap:60px;
               row-gap:20px;
           }

           #Explore-link{
            color:red;
            width:200px;
        }

        .contact-address {
           margin-left:15px;
           padding-left:35px;
          }
       
           .contact-address i {
               color:red;
               margin:20px;
               margin-top:30px;
           }

           .contact-heading p{
            color:blue;
            margin-left:50px;
           }
       
       #Contact {
           margin-top:100px;
           margin-left:-15px;
       }

       .contact-form input{
        width:290px;
        margin:15px 40px;
       }
       #inputbutton input{
        width:200px;
        background-color: green;
        color:white;
        margin-left:80px;
        }
}

@media screen and (min-width:375px) and (max-width:425px){

    #navigation{
        padding-bottom:5px;
        width:100%;
        }

    .heading-para{
        margin-top:100px;
        margin-left:-5px;
       }
       
       .heading-para img {
        width:200px;
        height:200px;
        margin-top:50px;
        border-radius:50%;
       }

       .offcanvas{
        min-width:375px;
        height:700px;
        background-color: aqua;
    }
       .box {
        width:250px;
        height:250px;
        border-radius:50%;
        margin-top:50px;
        background-color:gold;
        position: relative;
        overflow: hidden;
       }
       
       .box::before{
           content:'';
           position: absolute;
           inset:-10px 140px;
           background-image:linear-gradient(green, red);
           transition:0.5s;
           animation: animate 4s linear infinite;
       }
       
       .box:hover::before{
           inset:-20px 0px;
       }
       
       @keyframes animate {
       
       0%{
           transform: rotate(0deg);
       }
       
       100%{
           transform: rotate(360deg);
       }
       
       }
       .box::after{
           content:'';
           position: absolute;
           inset:6px;
           background-color:black;
           border-radius:50%;

       }
       
       .profile-img{
           position: absolute;
           border:6px solid purple;
           inset:30px;
           border-radius:50%;
           overflow: hidden;
       }
       
       .profile-img img {
           position: absolute;
           top:-50px;
           right:0px;
           width:100%;
           height:100%;
           object-fit: cover;
           transition:0.5s;
           pointer-events:none;
       }
       
       .About{
       margin-top:100px;
       margin-left:-20px;
       }
       .About p {
        width:300px;
        text-align: center;
       }


        #downloadresume{
            width:300px;
            padding-left:10px;
            margin-left:20px;
        }
    
       
       .card-inner{
           width:13rem;
           margin-top:50px;
           }
       
           .card-inner img {
       width:200px;
       height:200px;
           }
       
           #Explore-row{
               column-gap:60px;
               row-gap:20px;
           }

           #Explore-link{
            color:red;
            width:200px;
        }

        .contact-address {
           margin-left:20px;
           padding-left:20px;
          }
       
           .contact-address i {
               color:red;
               margin:20px;
               margin-top:30px;
           }

           .contact-heading p{
            color:blue;
            margin-left:50px;
           }
       
       #Contact {
           margin-top:100px;
           margin-left:-15px;
       }

       .contact-form input{
        width:330px;
        margin:15px 40px;
       }
       #inputbutton input{
        width:200px;
        background-color: green;
        color:white;
        margin-left:100px;
        }
}

@media screen and (min-width:425px) and (max-width:768px){

    #navigation{
        padding-bottom:5px;
        width:100%;
        }

    .heading-para{
        margin-top:100px;
        margin-left:-5px;
       }
       
       .heading-para img {
        width:200px;
        height:200px;
        margin-top:50px;
        border-radius:50%;
       }
       
       .box {
        width:350px;
        height:350px;
        border-radius:50%;
        margin-top:50px;
        background-color:gold;
        position: relative;
        overflow: hidden;
       }
       
       .box::before{
           content:'';
           position: absolute;
           inset:-10px 140px;
           background-image:linear-gradient(green, red);
           transition:0.5s;
           animation: animate 4s linear infinite;
       }
       
       .box:hover::before{
           inset:-20px 0px;
       }
       
       @keyframes animate {
       
       0%{
           transform: rotate(0deg);
       }
       
       100%{
           transform: rotate(360deg);
       }
       
       }
       .box::after{
           content:'';
           position: absolute;
           inset:6px;
           background-color:black;
           border-radius:50%;

       }
       
       .profile-img{
           position: absolute;
           border:6px solid purple;
           inset:30px;
           border-radius:50%;
           overflow: hidden;
       }
       
       .profile-img img {
           position: absolute;
           top:-50px;
           right:0px;
           width:100%;
           height:100%;
           object-fit: cover;
           transition:0.5s;
           pointer-events:none;
       }

       .About{
       margin-top:100px;
       margin-left:-20px;
       }
       .About p {
        width:360px;
        text-align: center;
       }

        #downloadresume{
            width:300px;
            padding-left:10px;
            margin-left:80px;
        }
    
       
       .card-inner{
           width:13rem;
           margin-top:50px;
           }
       
           .card-inner img {
       width:200px;
       height:200px;
           }
       
           #Explore-row{
               column-gap:60px;
               row-gap:20px;
           }

           #Explore-link{
            color:red;
            width:200px;
        }

        .contact-address {
           margin-left:20px;
           padding-left:20px;
          }
       
           .contact-address i {
               color:red;
               margin:20px;
               margin-top:30px;
           }

           .contact-heading p{
            color:blue;
            margin-left:30px;
           }
       
       #Contact {
           margin-top:100px;
           margin-left:15px;
       }

       .contact-form input{
        width:330px;
        margin:15px 40px;
       }
       #inputbutton input {
        width:200px;
        background-color: green;
        color:white;

        }
}

@media screen and (min-width:768px) and (max-width:1024px){

    #navigation{
        padding-bottom:5px;
        width:100%;
        }

    .heading-para{
        margin-top:100px;
        margin-left:-5px;
       }

       .offcanvas{
        min-width:90px;
        height:800px;
        background-color: aqua;
    }
       
       .heading-para img {
        width:300px;
        height:300px;
        margin-top:50px;
        border-radius:50%;
       }
       .box {
        width:350px;
        height:350px;
        border-radius:50%;
        margin-top:50px;
        background-color:gold;
        position: relative;
        overflow: hidden;
       }
       
       .box::before{
           content:'';
           position: absolute;
           inset:-10px 140px;
           background-image:linear-gradient(green, red);
           transition:0.5s;
           animation: animate 4s linear infinite;
       }
       
       .box:hover::before{
           inset:-20px 0px;
       }
       
       @keyframes animate {
       
       0%{
           transform: rotate(0deg);
       }
       
       100%{
           transform: rotate(360deg);
       }
       
       }
       .box::after{
           content:'';
           position: absolute;
           inset:6px;
           background-color:black;
           border-radius:50%;

       }
       
       .profile-img{
           position: absolute;
           border:6px solid purple;
           inset:30px;
           border-radius:50%;
           overflow: hidden;
       }
       
       .profile-img img {
           position: absolute;
           top:-50px;
           right:0px;
           width:100%;
           height:100%;
           object-fit: cover;
           transition:0.5s;
           pointer-events:none;
       }
       
       .About{
       margin-top:100px;
       margin-left:-20px;
       }
       .About p {
        width:600px;
        text-align: center;
        margin-top:40px;
       }


        #downloadresume{
            width:300px;
            padding-left:10px;
            margin-left:250px;
        }
    
       
       .card-inner{
           width:13rem;
           margin-top:50px;
           }
       
           .card-inner img {
       width:200px;
       height:200px;
           }
       
           #Explore-row{
               column-gap:60px;
               row-gap:20px;
           }

           #Explore-link{
            color:red;
            width:200px;
        }

        .contact-address {
           margin-left:20px;
           padding-left:20px;
          }
       
           .contact-address i {
               color:red;
               margin:20px;
               margin-top:30px;
           }

           .contact-heading p{
            color:blue;
            margin-left:30px;
           }
       
       #Contact {
           margin-top:100px;
           margin-left:15px;
       }

       .contact-form input{
        width:600px;
        margin:15px 40px;
       }
       #inputbutton input{
        width:200px;
        background-color: green;
        color:white;
        margin-left:250px;
        margin-top:30px;
        margin-bottom:40px;
        }
}


